@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Russo+One&display=swap');

@import '@repo/tailwind-config/theme.css';
@import '@repo/ui/styles.css';

@layer components {
    .jet-brains {
        font-family: 'JetBrains Mono', monospace !important;
        font-optical-sizing: auto !important;
        font-style: normal !important;
        letter-spacing: 1px !important;
    }

    .russo-one {
        font-family: 'Russo one', sans-serif !important;
        font-optical-sizing: auto !important;
        font-style: normal !important;
        font-weight: 500 !important;
        letter-spacing: 3px !important;
    }

    .title {
        font-family: 'Russo one', sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 3px;
        @apply text-5xl text-primary;
    }

    .subtitle {
        font-family: 'Russo one', sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 3px;
        @apply text-4xl text-primary;
    }

    .subsubtitle {
        font-family: 'Russo one', sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 3px;
        @apply text-3xl text-primary;
    }
}

@layer utilities {
    .markdown-container {
        user-select: none;
    }

    .markdown-container h1 {
        @apply text-4xl font-bold text-primary mb-8;
    }

    .markdown-container h2 {
        @apply text-2xl font-bold mb-4 mt-6;
    }

    .markdown-container ol {
        @apply list-decimal mb-8 pl-16;
    }

    .markdown-container li {
        @apply mb-2;
    }

    .markdown-container p,
    .markdown-container b,
    .markdown-container a,
    .markdown-container em,
    .markdown-container strong,
    .markdown-container li,
    .markdown-container code {
        @apply text-lg text-secondary-100;
    }

    .markdown-container strong {
        @apply font-bold text-text;
    }

    .markdown-container p {
        @apply mb-4;
    }

    .markdown-container code {
        user-select: text;
        max-width: 100% !important;
    }

    .markdown-container pre {
        @apply border border-secondary-200 bg-secondary-300 rounded-md p-4 overflow-x-auto font-mono;
    }

    .markdown-container code:not(pre > code) {
        @apply not-italic bg-secondary-300 py-0 px-1 rounded-md border border-secondary-200 font-mono font-normal text-sm;
        display: inline-block;
        max-width: 100%;
        overflow-x: auto;
        white-space: nowrap;
        vertical-align: middle;
    }

    .markdown-container code:not(pre > code)::before,
    .markdown-container code:not(pre > code)::after {
        @apply content-none;
    }

    .markdown-container .markdown-easter-egg {
        @apply text-yellow-300 rounded cursor-help;

        display: inline-block;
        transform-origin: center;
    }
}
