@import 'tailwindcss';

@theme {
  --color-background: #000314;
  --color-primary: #ffd200;
  --color-secondary-100: #757c9f;
  --color-secondary-200: #4b5068;
  --color-secondary-300: #22263c;
  --color-text: #ffffff;
  --color-error: #ff4949;

  --animate-sponsor-scroll: sponsor-scroll linear infinite;
  @keyframes sponsor-scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}

@layer base {
  html::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary-300);
    border-radius: 2px;
  }
  html::-webkit-scrollbar-track {
    background-color: transparent;
  }
  html {
    -ms-overflow-style: none;
    scrollbar-width: auto;
    scrollbar-color: var(--color-secondary-300) transparent;
  }

  html {
    font-size: 14px;
  }

  @media screen and (min-width: 1024px) {
    html {
      font-size: 16px;
    }
  }
}
