@import 'tailwindcss';

@theme {
  --color-background: #000314;
  --color-primary: #ffd200;
  --color-secondary-100: #757c9f;
  --color-secondary-200: #4b5068;
  --color-secondary-300: #111527;
  --color-text: #ffffff;

  --font-jet-brains: 'JetBrains Mono', monospace;
  --font-russo-one: 'Russo One', sans-serif;
}

@layer utilities {
  .jet-brains {
    @apply font-jet-brains tracking-wider;
  }

  .russo-one {
    @apply font-russo-one;
  }
}
