@import '@repo/tailwind-config/theme.css';

@source "./";

@layer utilities {
  .cut-corner {
    --cut-size: 60px;
    --cut-displacement: 10px;
    clip-path: polygon(
      100% 0,
      100% 100%,
      calc(var(--cut-size) + var(--cut-displacement)) 100%,
      var(--cut-displacement) 0
    );
  }

  .button-clip {
    --cut-size: 14px;
    clip-path: polygon(
      0 0,
      calc(100% - var(--cut-size)) 0,
      100% var(--cut-size),
      100% 100%,
      var(--cut-size) 100%,
      0 calc(100% - var(--cut-size)),
      0% 100%
    );
  }

  .gallery-photo-clip {
    --cut-size: 20px;
    clip-path: polygon(
      0 0,
      calc(100% - var(--cut-size)) 0,
      100% var(--cut-size),
      100% 100%,
      var(--cut-size) 100%,
      0 calc(100% - var(--cut-size)),
      0% 100%
    );
  }

  .content-card-clip {
    --clip-size: 25px;
    clip-path: polygon(
      0 0,
      calc(100% - var(--clip-size)) 0,
      100% var(--clip-size),
      100% 100%,
      var(--clip-size) 100%,
      0 calc(100% - var(--clip-size))
    );
  }

  .ribbon {
    @apply relative after:bg-primary after:absolute after:inset-0;
  }

.ribbon-secondary-300 {
  @apply after:bg-secondary-300 after:border-secondary-300;
}
.ribbon-secondary-400 {
  @apply after:bg-secondary-400 after:border-secondary-400;
}

  .ribbon::after {
    --cut-size: 20px;
    --ribbon-width: 35px;
    clip-path: polygon(
      calc(100% - var(--ribbon-width) - var(--cut-size)) 0,
      calc(100% - var(--cut-size)) 0,
      100% var(--cut-size),
      100% calc(var(--ribbon-width) + var(--cut-size)),
      calc(100% - var(--ribbon-width) - var(--cut-size)) 0,

      0 calc(100% - var(--ribbon-width) - var(--cut-size)),
      0 calc(100% - var(--cut-size)),
      var(--cut-size) 100%,
      calc(var(--ribbon-width) + var(--cut-size)) 100%,
      0 calc(100% - var(--ribbon-width) - var(--cut-size))
    );
  }

  .ribbon-photo-clip {
    --cut-size: 20px;
    clip-path: polygon(
      0 0,
      calc(100% - var(--cut-size)) 0,
      100% var(--cut-size),
      100% 100%,
      var(--cut-size) 100%,
      0 calc(100% - var(--cut-size)),
      0% 100%
    );
  }

  .page-width {
    @apply max-w-[1100px] w-full;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }

  @keyframes scroll-animation {
    from {
      opacity: 0;
      clip-path: inset(50% 50% 0 0);
    }
    to {
      opacity: 1;
      clip-path: inset(0 0 0 0);
    }
  }

  .animated {
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 0.5s linear, transform 0.5s ease-out;
  }
  .animated.show {
    opacity: 1;
    transform: translateX(0);
  }
}
